<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openaccessbutton.openaccessbutton" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="org.openaccessbutton.openaccessbutton.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.openaccessbutton.openaccessbutton.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".intro.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD2CabzrHjiut8zGF9XiYsNHhF3vYgoxWc" />

        <activity
            android:name=".button.ButtonSubmitActivity"
            android:label="@string/button_submit_intent_title" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intro.SignupActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intro.SigninActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".intro.OAuthActivity"
            android:label="@string/title_activity_oauth"
            android:theme="@style/NoActionBar" >
        </activity>
        <activity
            android:name=".menu.MenuActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="org.openaccessbutton.openaccessbutton" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".push.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.openaccessbutton.openaccessbutton.HANDLE_PUSH" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".intro.SignupSocialMediaActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".intro.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".advocacy.QuestionsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".preferences.AppPreferencesActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
    </application>

</manifest>
